<nav class='tk-atlas small'>
  <div class='nav-wrapper'>
    <ul>
      {{#each copy.nav}}
        <li class='{{object}}' data-index='{{@index}}' data-type='{{object}}' data-id='{{id}}'>
          <div class='object-image'>
            <!-- <div class='image' style='background-image: url(assets/images/{{id}}.png)'</div> -->
            <img class='image' src='assets/images/thumbs/{{id}}-thumb.png'>
            <p class='object-name small'>{{name}}</p>
          </div>
      {{/each}}
    </ul>
  </div>  
  <div class='under-ul'>
  	<button class='autoplay'>
  		<p>Pause</p>
  		<div class='play-pause'><img src='assets/images/pause.svg'></div>
  	</button>
    <div class='nav-hint'>
      <p>Drag for more shoes</p>
      @@include('arrow-right.svg')
    </div>
  </div>
</nav>
